<div ng-controller = "PollController">
	<a href="#/dashboard">Go To Poll Page</a>
	<h1>{{quest.question}}</h1>
	<p>Click the Vote Button To choose one</p>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Option</th>
				<th>Current Count Of Votes</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ng-bind="quest.option1"></td>
				<td ng-bind="quest.option1Vote"></td>
				<td><a href="" ng-click="vote1(quest)">Vote</a></td>
			</tr>
			<tr>
				<td ng-bind="quest.option2"></td>
				<td ng-bind="quest.option2Vote"></td>
				<td><a href="" ng-click="vote2(quest)">Vote</a></td>
			</tr>
			<tr>
				<td ng-bind="quest.option3"></td>
				<td ng-bind="quest.option3Vote"></td>
				<td><a href="" ng-click="vote3(quest)">Vote</a></td>
			</tr>
			<tr>
				<td ng-bind="quest.option4"></td>
				<td ng-bind="quest.option4Vote"></td>
				<td><a href="" ng-click="vote4(quest)">Vote</a></td>
			</tr>
		</tbody>

	</table>
</div>